* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

main {
    height: 100%;
}

.row {
    background-color: white;
    /* height: 100%; */
    border-radius: 1.5rem;
}

.contenedor-form-login {
    background: #f2f2f2;
    border-radius: 20px;
}

.boton__login {
    background-color: #007bff;
    color: white;
}

.boton__login:hover {
    background-color: #00b8eb;
}

.form-login {
    /* height: 100%; */
    text-align: center;
}

.info-container {
    background-color: #f2f2f2;
    border-radius: 10px;
}

.info-container button {
    background-color: #007bff;
    color: white;
}

.info-container button:hover {
    background-color: #00b8eb;
}