* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
}

.container-header {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 5px 5px;
    margin: 0 10px;
}

.barraIconos {
    margin: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    justify-content: space-between;
}

.barraIconos div {
    width: 30px;
    height: 30px;
    margin: 0px;
    /* background-color: black; */
}

.barra-navegacion a {
    text-decoration: none;
    color: white;
    margin: 0px 50px;
}

#nuevo {
    background-image: url("../../recursos/iconos/IconoCambiarContraseña.svg");
    background-size: cover;
}

#ayuda {
    background-image: url("../../recursos/iconos/ayuda.svg");
    background-size: cover;
}

#salir {
    background-image: url("../../recursos/iconos/salir.svg");
    background-size: cover;
}

.crear_usuario {
    margin: 0px;
    position: relative;
    left: 90%;
}