* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.barra-navegacion {
    padding: 10px;
    background-color: #007bff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra-navegacion nav ul li {
    display: inline-block;
    font-weight: bold;
    text-transform: capitalize;
    padding: 0px 15px;
    transition: all 0.3s ease;
}

.barra-navegacion nav ul li:hover {
    transform: scale(1.1);
    color: #0096ff;
}

.barra-navegacion nav ul a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.barra-navegacion nav ul {
    margin: 0px;
}

.logo img {
    width: 40px;
}

.menuNav {
    vertical-align: center;
    /* padding-top: 10px; */
    height: auto;
}

.container h1 {
    text-align: center;
    padding: 20px
}

.img-tech {
    height: 300px;
}

.cont-2 img {
    display: block;
    margin: auto;
}

.texto-body {
    margin: 20px 0px;
    border-radius: 10px;
}

.cont-1 {
    margin: 20px 0px;
    line-height: 40px;
    display: flex;
    justify-content: space-between;
}

.texto1 {
    padding: 0px 20px;
}

.cont-2 {
    margin: 20px 0px;
    line-height: 40px;
}

/* HASTA ACA  */

footer {
    width: 100%;
    height: auto;
    padding: 0px;
    background-color: #04212f;
}

.container-footer {
    margin: 0px 20px;
    display: flex;
    justify-content: space-between;
}

.navFooter {
    margin: 0px 20px;
    padding: 10px;
}

.navFooter h5 {
    color: white;
    font-weight: bold;
    text-align: center;
}

.navFooter nav ul li {
    padding: 5px;
    font-size: 15px;
    list-style: none;
}

.navFooter nav ul a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.columna1 {
    display: inline-block;
    margin: 5px 30px;
}

.columna1 ul {
    margin: 0px;
}

/* ICONOS DE REDES SOCIALES */

.redesMain {
    text-align: center;
    width: 300px;
    margin: 0px 20px;
}

.redesMain h5 {
    color: white;
    margin: 5px 0px 10px;
}

.redes {
    /* margin-top: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.redes div {
    width: 70px;
    height: 70px;
}

#github {
    background-image: url("../../recursos/iconos/github.svg");
}

#linkedin {
    background-image: url("../../recursos/iconos/linkedin.svg");
}

#twitter {
    background-image: url("../../recursos/iconos/twitter.svg");
}

#piePagina {
    color: rgb(148, 148, 148);
    text-align: center;
    margin: 0px;
    padding: 5px;
    font-size: 10px
}